* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pilt{
    height: 100vh;
    width: 100vw;
    background-image: url("/mets.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}

.kannel{
    height: 500px;
    width: 100%;
}

.nupp1{
    text-decoration: none;
    color: white;
    position: absolute;
    border: tomato;
    top: 310px;
    right: 1050px;
    background-color: blue;
    font-size: 50px;
}

.nupp2{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 200px;
    right: 1300px;
    background-color: blue ;
    font-size: 50px;

}

.nupp3{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 410px;
    right:840px;
    background-color: blue;
    font-size: 50px;
}

.nupp4{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 370px;
    right: 950px;
    background-color: blue;
    font-size: 50px;
}

.nupp5{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 480px;
    right: 700px;
    background-color: blue;
    font-size: 50px;
}

.nupp6{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 260px;
    right: 1150px;
    background-color: blue;
    font-size: 50px;
}

.nupp7{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 450px;
    right: 765px;
    background-color: blue;
    font-size: 50px;
}
